
<%layout('layouts/boilerplate') %>
  
  <h1><%= loc.title %></h1>
  <div>
    <img src="<%= loc.image %>" alt="">
  </div>
  <h2><%= loc.location %></h2>
  <h4><%= loc.description %></h4>
  <a href="/campgrounds/<%= loc.id %>/edit">Edit this</a>
  <form action="/campgrounds/<%= loc.id %>?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
