
<%layout('layouts/boilerplate') %>
  
  <h1><%= loca.title %></h1>
  <div>
    <img src="<%= loca.image %>" alt="IMAGE HERE ">
  </div>
  <h2><%= loca.location %></h2>
  <h4><%= loca.description %></h4>
  <a href="/campgrounds/<%= loca.id %>/edit">Edit this</a>
  <form action="/campgrounds/<%= loca.id %>?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
 
